<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
  

    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>
    

    <ion-button type="submit" [disabled]="itemForm.invalid">Cadastrar</ion-button>
  </form>

  <ion-button  color="medium" [routerLink]="['/home']">Voltar</ion-button>
</ion-content>
